<div class="footer_box">
    <div class="container">

      <div class="d-flex flex-row justify-content-between flex-wrap">
        <div class="left">
            <div class="footer_title">FOLLOW US</div>
            <div class="footer_social_icons_container">
                <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                <a href="#"><i class="ml-2 fa fa-instagram fa-2x"></i></a>
                <a href="#"><i class="ml-2 fa fa-twitter-square fa-2x"></i></a>
                <a href="#"><i class="ml-2 fa fa-youtube-square fa-2x"></i></a>

            </div>
            <div class="footer_contact_details">
                <div class="footer_title">CONTACT US</div>
                <div>
                    <div>
                        <span>
                            <a href="#"
                                style="text-decoration: none; color: black;">
                                <i class="fa fa-phone-square fa-2x"></i>
                                +91-8800 2588 17
                            </a>
                        </span>
                    </div>
                    <div>
                        <span>
                            <a href="#"
                                style="text-decoration: none; color: black;">
                                <i class="fa fa-google-plus fa-2x"></i>
                                dhrubajitsarkar9999@gmail.com
                            </a>
                        </span>
                    </div>
                   
            </div>
        </div>
        </div>
        <div class="footer_margin">
            <div class="footer_title">QUICK LINKS</div><a class="footer_links" href="/interview-questions">Interview
                Notes</a><a class="footer_links" href="/mock-tests">Mock Tests</a><a class="footer_links"
                href="/placement-preparation-program">Placement Programs</a><a class="footer_links"
                href="/prepbytes-courses">Coding Courses</a><a class="footer_links" href="/about">About Us</a><a
                class="footer_links" href="/preparation-bytes">Blog</a>
        </div>
      </div>


      <hr class="footer_line">
      <div class="footer_policy_rights">
          <div>Copyright©2020</div>
          <div class="Policy"><a href="/privacypolicy">Privacy Policy</a><a href="/refundpolicy">Refund Policy</a></div>
      </div>
    
    
    
    </div>
    
</div>