.masthead-page {
    padding: 1rem 0 4rem;
}
.masthead {
    padding: 0rem;
    position: relative;
    background-color: #007bff;
    background-image: url(/assets/img/overlay.svg),linear-gradient(45deg, #007bff 0%, #006fe6 100%);
    background-size: cover;
    z-index: 0;
}

.mb-5, .my-5 {
    margin-bottom: 3rem !important;
}

.pb-5, .py-5 {
    padding-bottom: 3rem !important;
}
.pt-5, .py-5 {
    padding-top: 3rem !important;
}
.masthead h1 {
    color: white;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.1;
    z-index: 1;
}
.mb-2, .my-2 {
    margin-bottom: .5rem !important;
}
h1, .h1 {
    font-size: 2.5rem;
}

.masthead h2 {
    color: rgba(255,255,255,0.6);
    font-weight: 600;
    z-index: 1;
    font-size: 1.2rem;
}
.m-0 {
    margin: 0 !important;
}
h2, .h2 {
    font-size: 2rem;
}
#carbonads {
    padding: 1rem;
    border-radius: .5rem;
    overflow: hidden;
    font-size: 0.8rem;
    line-height: 1rem;
    background-color: rgba(248,249,250,0.15);
    box-shadow: 0 0 1rem 0.5rem rgba(33,37,41,0.1);
}

.masthead .btn-create {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    border: 1px dashed white;
    color: white;

}

.masthead .btn-create h2 {
    color: white;
    display: inline;
    
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}
.shadow, .bsa-cpc ._default_ {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(33,37,41,0.15) !important;
}
.border-0 {
    border: 0 !important;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: .5rem;
}

.card .header-part {
    display: block;
    position: relative;
}

.card .header-part img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.card .header-part .heading-1 {
    
    display: inline-block;
    margin-left: 1rem;
    position: absolute;
}

.user_name:hover {
    color: #006fe6;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #006fe6;
}

.para-1 {
    padding: .5rem 0rem;
}





.right .user_image{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: -3rem;
    border: 5px solid white;
    
}
.right h5 {
    padding-bottom: 1rem;
}

.right .card_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.profile-cover {
    width: 97%;
    height: 6rem;
    background-image: url(/assets/img/overlay.svg),linear-gradient(45deg, #6daaeb 0%, #2c8ef7 100%);
    margin-top: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-size: cover;
}


.profile-image {
    position: relative;
}

.profile-image .edit {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: white;
    opacity: 0.6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .2s ease-in;
  
}

.profile-image .edit:hover i {
    color: #006fe6;
}

.modal-body .upload {
    padding: 0px !important;
}

.preview_image {
    display: block;
    position: relative;
    width: 10rem;
    height: 10rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    align-self: center;
    border: 1px dashed #006fe6;
}

.about {
    background-color: #d8e4f1;
    width: 97%;
    align-self: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
}

textarea {
    font-size: medium;
    font-weight: 300;
}

.add-photo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    background-color: #bcd9f7;
    cursor: pointer;
}

.added-photo {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    position: relative;
}
.added-photo img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.added-photo .layer {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #bcd9f7;
    opacity: .5;
    
}
.added-photo .progress {
    position: absolute;
    left: 30%;
    top: 40%;
    z-index: 10;
    height: auto;
    width: auto;
    background: none;
    font-size: large;
}

.comment-dropdown {
    opacity: 0;
    visibility: hidden;
    height: 0;
    position: relative;

}

.dropdown>h5 {
    text-align: start;
    display: inline;
    left: 0;
    position: absolute;
}

.dropdown>a {
    cursor: pointer;
    transition: all 0.2s ease-in;
    display: inline-block;

}

.dropdown >a:hover{
    color: #006fe6;
}
 
.dropdown.open>.comment-dropdown {
    opacity: 1;
    visibility: visible;
    height: auto;
    text-align: left !important;
    transition: all .2s ease-in;
    margin-top: 1rem;
  }
 

.comment-dropdown img {
    border-radius: 50%;
}  


.comment-dropdown .desc {
    border-radius: 5px;
    padding: 5px 5px;
    margin-left: 5px;
    background-color: #e9ecf0;
    position: relative;
  
}  
.comment-dropdown .desc::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 10px;
    width: 10px;
    background-color: #e9ecf0;
    transform: skewX(50deg)
    
}

.comment-dropdown .side-bar {
    background-color: #dce7f5;
    display: block;
    height: 100%;
    width: 6px;
}

.comment-dropdown .form-inline {
    margin-left: 5px;
}
.comment-dropdown .form-inline input {
    height: 32px !important; 
    font-size: 14px;
}


.pagination > a{
    margin-bottom: 2rem;
    padding: 2px 2rem;
    color: #006fe6;
}
.pagination > li{
    margin: 5px 5px;
}

.images-4 img{
    width: 48%;
    object-fit: cover;
}

.images-4 .img-1 {
    border-top-left-radius: 10px;
    margin-bottom: 10px;
}
.images-4 .img-2 {
    border-top-right-radius: 10px;
    margin-bottom: 10px;
}
.images-4 .img-3 {
    border-bottom-left-radius: 10px;
}
.images-4 .img-4 {
    border-bottom-right-radius: 10px;
}

.images-3 .img-1{
    width: 48%;
    border-top-left-radius: 10px;
    margin-bottom: 10px;
    object-fit: cover;

}
.images-3 .img-2 {
    width: 48%;
    border-top-right-radius: 10px;
    margin-bottom: 10px;
    object-fit: cover;

}
.images-3 .img-3 {
    width: 98%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: fill;

}

.images-2 img {
    width: 98%;
    height: 300px;
    object-fit: cover;

}

.images-2 .img-1 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 10px;

}
.images-2 .img-2 {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.images-1 img {
    width: 98%;
    border-radius: 10px;

}

@media only screen and (max-width:384px){

}